* {
  box-sizing: border-box;
}

:root {
  --headline-color: white;
  --background-color: #1a1a1a;
  --text-color: rgba(255, 255, 255, 0.5);
}

html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  background: linear-gradient(to top, #0a0a0a, DarkSlateGrey, black);
}

a {
  text-decoration: none; 
  color: white; 
  transition: all 0.3s ease; 
}

a::after {
  content: "→";
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

a:hover {
  color: sandybrown; 
}

a:hover::after {
  opacity: 1; 
}
